.tobestyled {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 100px;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    height: 200px;
  
}